body {
	background-color: #d0ccd0;
	color: #274156;
	font-family: 'Roboto', sans-serif;
	margin: 0;
}

.quadradin {
	background: red;
	width: 30px;
	padding: 10px;
	border: 5px solid green;
	box-sizing: border-box;
}

.header__title {
	text-align: center;
}

.main {
	padding: 1rem;
}

.main__list {
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-gap: 1rem;
	list-style: none;
	padding: 0;
}

.main__text--color {
	color: red;
}

.main__text--hex {
	color: #ff0000;
}

.main__text--rgb {
	color: rgb(255,0,0);
}

.card {
	background-color: #fff;
	box-shadow: rgba(0, 0, 0, 0.2);
	padding: 1rem;
}

.footer {
	background-color: #1c6e8c;
	bottom: 0;
	left: 0;
	position: absolute;
	padding: 1rem;
	right: 0;
}

.footer__text {
	color: #fff;
	margin: 0;
	text-align: center;
}